<section id="contato">

  <div class="contato">
    <h1>Contatos</h1>

    <div class="card">
      <img src="../../assets/img/ia2.jpeg" alt="">
    </div>
    <section id="formulario">
      <h3>Tem alguma pergunta ou quer trabalhar comigo ?</h3>
      <br>
      <form action="https://formspree.io/f/mzboylar" method="POST">
        <input type="text" id="nome" name="nome" placeholder="Nome"><br>
        <input type="email" id="email" name="_replyto" placeholder="Email"><br>
        <textarea name="mensagem" id="" placeholder="Insira sua mensagem"></textarea><br>
        <button type="submit" value="Send">Enviar</button>
      </form>
    </section>
  </div>
</section>