$verde_claro: #00bf8f;
$verde_escuro: #001510;
*{
  margin: 0 auto;
}
section{
  width: 80%;
  height: 80vh;
  text-align: center;  
  position: relative;
  z-index: 100;
  background-color: #1E1E1E;

  .contato{
    width: 80%;
    height: 100vh;
    margin-top: -10rem;
    display: flex;

    h1{
      background-color: transparent;
      color: rgba(114, 114, 114, 0.9);
      position: absolute;
      left: 0;
      right: 0;
      padding: 2rem;
      margin-top: 5em;
    }

    .card{
      width: 30%;
      height: 40vh;
      margin-top: 32vh;

      img{
        width: 100%;
        border-radius: 5px;
      }
    }

    #formulario{
      width: 70%;
      height: 50vh;
      margin-top: 30vh;
      position: relative;

      h3{
        color: $verde_claro;
        font-size: 20px;
        font-weight: 500;
      }

      form{
        margin-top: 2em;
      }

      input{
        width: 80%;
        border: none;
        background-color: #0d0d0d;
        margin-top: 2px;
        height: 2.5em;
        padding-left: 20px;
        font-weight: 600;
        color: #fff;
        font-weight: normal;
      }

      textarea{
        width: 80%;
        height: 15vh;
        padding-top: 1em;
        padding-left: 1em;
        border: none;
        background-color: #0d0d0d;
        margin-top: 2px;
        resize: none;
        font-weight: 600;
        color: #fff;
        font-weight: normal;
      }

      button{
        width: 80%;
        border: none;
        background-color: #00bf8f;
        height: 2.5em;
        color: #fff;
        margin-top: 2px;
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }
}

@media(max-width: 900px){

  section{
    height: 120vh;
  }

  #contato{
    width: 100%;

    .contato{
      width: 100%;
      flex-direction: column;

      .card{
        display: none;

      
      }

      #formulario{
        width: 100%;
      }

      .scroll{
        top: 120%;
      }

    }

  }

}
