<section id="hero">
  <div class="conteudo" id="conteudo">
    <div class="textos">
      <h1>Lucas Ferreira</h1>
      <h2>Desenvolvedor de aplicações</h2>
      <p>Sou apaixonado por desenvolver soluções digitais <br> acessíveis e responsivas.</p>

      <div class="menus">
        <div class="itens" (click)="scroll(about)" >
          <div class="barra" id="aboutBar"></div>
          <div class="label" id="aboutLabel">SOBRE</div>
        </div>
        <div class="itens" (click)="scroll(trabalhos)">
          <div class="barra" id="workBar"></div>
          <div class="label" id="workLabel">EXPERIÊNCIAS</div>
        </div>
        <div class="itens" (click)="scroll(projects)">
          <div class="barra" id="projectsBar"></div>
          <div class="label" id="labelsBar">PROJETOS</div>
        </div>
      </div>
    </div>

    <div class="content"  #conteudo>
      <div class="about" #about>
        <p>Um desenvolvedor Full Stack apaixonado por construir sistemas de qualidade e interfaces de usuário eficientes e atraentes. Com aproximadamente 3 anos de experiência em <span>HTML, CSS, JavaScript e Node</span>, me especializei em frameworks modernos, como Angular e React.</p>
        <p>Tenho um forte foco em design <span>responsivo e acessibilidade</span>, visando entregar experiências de alta qualidade em qualquer dispositivo, bem como softwares seguros e escaláveis.</p>
        <p>Além disso, estou constantemente buscando aprimorar meu conhecimento em tecnologias emergentes e em melhores práticas de UX/UI. <span>Com habilidades de comunicação sólidas e trabalho em equipe</span>, estou sempre aberto a desafios e novos projetos. É um prazer ter você aqui em meu portfólio.</p>
      </div>
      <div class="experience">
        <div class="oportunidade" #trabalhos>
          <div class="date">
            <p>2022 - ATUAL</p>
          </div>
          <div class="description">
            <h1>Desenvolvedor de aplicações - IBM</h1>
            <p>Desenvolvimento e manutenção de aplicações web utilizando Angular para criar interfaces de usuário responsivas e interativas. Colaboração com a equipe de design e back end para implementar e integrar designs de interface de usuário e funcionalidades. Tive a oportunidade de atuar como team lead, desenvolvendo em paralelo diversas soft skills. </p>
            <div class="stacks">
              <ul>
                <li>Angular</li>
                <li>SCSS</li>
                <li>git</li>
                <br><br>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Graphql</li>
                <li>Node</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="oportunidade">
          <div class="date">
            <p>2020 - 2022</p>
          </div>
          <div class="description">
            <h1>Desenvolvedor Front-end - BRQ</h1>
            <p>Desenvolvimento e sustentação de aplicações no segmento bancário utilizando Angular JS, SCSS, RTC, integraçõe BFF e relizaação de testes unitários. </p>
            <div class="stacks">
              <ul>
                <li>Angular</li>
                <li>SCSS</li>
                <li>git</li>
                <br><br>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>RTC</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="oportunidade">
          <div class="date">
            <p>2018 - 2020</p>
          </div>
          <div class="description">
            <h1>Back office Bilingue</h1>
            <p>Suporte a clientes através da ferramenta Sabre para gestão de passagens aéreas, atividades e estadias. Comunicação via telefone, e-mail e chat inteiramentes em inglês. </p>
            <div class="stacks">
              <ul>
                <li>Inglês</li>
                <li>Sabre</li>
              </ul>
            </div>
          </div>

        </div>
        <div #projects>
          <ng-container *ngFor="let project of projetos">
            <a [href]="project.html_url" target="_blank">
              <div class="oportunidade" id="projects">
                <span>&#x2197;</span>
                <div class="date">
                  <p>{{project.updated_at | date: 'MM/yyyy'}}</p>
                </div>
                <div class="description">
                  <h1>{{project.name}}</h1>
                  <p>{{project.description}}</p>
                  <div class="stacks">
                    <ul>
                      <li>{{project.language}}</li>
                      <li>HTML</li>
                      <li>SCSS</li>
                      <li>Git</li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="scroll" (click)="scroll(about)">
  <img src="../../assets/img/up-arrow.png" alt="">
</div>
