
.container{
    width: 60%;  
    margin-bottom: 10em;    
    position: relative;
    background-color: #1E1E1E;
    z-index: 100;    
    
    h1{
        background-color: transparent;
        color: rgba(114, 114, 114, 0.9);
        text-align: center;
    }

    .card{
        margin-top: 3em;
    }
}

@media (max-width: 650px){
    .container{
        margin-top: -5rem;
    }
}