<div class="container" ng-mousemove="teste()">
  <app-header></app-header>

  <app-hero></app-hero>

  <!-- <app-sobre></app-sobre> -->

  <app-timeline></app-timeline>

  <!-- <app-portifolio></app-portifolio> -->

  <app-contato></app-contato>

  <app-footer></app-footer>
</div>

<p-dock [model]="dockItems" position="left" id="teste">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.icon" [alt]="item.label" width="100%">
  </ng-template>
</p-dock>




<div class="container">
  <router-outlet></router-outlet>
</div>