@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(111, 0, 255);
$claro: #00bf8f;
$escuro: #001510;



body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background-color: #121212;
    position: relative;
}




.container {
    width: 100%;


}

::ng-deep .p-dock-list-container{
    margin-left: 4em;
    position: fixed;
    width: 3em;
    display: flex;
    justify-content: center;
    opacity: 0.5;    
    z-index: 100000000;
    img{
        width: 2rem;
        cursor: pointer;
    }
}

header {
    padding: 2em 0;
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .logo{
      width: 30%;
    }

    a.logo {
        font-weight: bold;
        font-size: 25px;
    }

    nav {
        float: right;
        background-color: green;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            background-color: blue;
            height: 100%;
            li a {
                padding: 5px;
                background-color: yellow;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}



@media(max-width: 1000px){
    
::ng-deep .p-dock-list-container{
    display: none;
}
}