@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


*{
  margin: 0 auto;
  scroll-behavior: smooth;

  html {
    scroll-behavior: smooth;

  }
}

body{
  ::-webkit-scrollbar {
    display: none;
    background-color: red;
}
}


